.guild {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;

  .guild-icon {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .guild-icon:hover {
    border-width: 3px;
    border-style: solid;
    border-color: purple;
    border-radius: 50%;
  }
}
